{% extends 'base.html' %}

{% block title %}User Page{% endblock %}

{% block content %}
<h2>Welcome, {{ user.username }}</h2>

<h3>Your Bookings</h3>
{% if user_bookings.exists %}
    <ul>
        {% for booking in user_bookings %}
            <li>
                Service:<a href="{% url 'booking_page' booking_id=booking.id%}" >{{ booking.service.category.name }}</a><br>
                Trainer: {{ booking.trainer.username }}<br>
                Date: {{ booking.datetime_start }}<br>
                Duration: {{ booking.service.duration }} minutes
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no bookings.</p>
{% endif %}

{% endblock %}