<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navigation">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/profile/me">Me</a></li>
                    <li><a href="/profile/me/favouties">Favorites</a></li>
                    <li><a href="/items">Item</a></li>
                    <li><a href="/contracts">Contracts</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/compare">Compare</a></li>  
                </ul>
            </nav>
            <div class="auth">
                <a href="/login" class="login-btn">Login</a>
                <a href="/register" class="login-btn">Register</a>
                <a href="/logout" class="login-btn">Logout</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <p style="font-size: 24px; font-weight: bold; color: #333;">
                {{content}} 
            </p>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PW - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>